.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 20px;
  width: 80%;
  margin: 50px 0;
  padding: 30px 0;
  border-top: 1px solid #edeff2;
  border-bottom: 1px solid #edeff2;
}

.header {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.highlight {
  color: #f9d400; /* Yellow color for "200+" */
  font-weight: bold;
}

.logos {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 40px; /* Adjust the size as needed */
  opacity: 0.6; /* Grey-out effect */
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 1;
}

@media (max-width: 991px) {
  .logo {
    flex-direction: column;
  }
  .logos {
    flex-direction: column;
    gap: 40px;
  }
}
