.mainContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}
.blogSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1290px;
  text-align: center;
}

.sectionTitle {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.description {
  color: #5a5a5a;
  text-align: center;
  margin: 0px 0 20px 33px;
  width: 50%;
  font-size: 16px/26px;
  font-weight: 400;
}
.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.heroSectionImage {
  background-size: cover;
  width: 100%;
}

.heroSection {
  border-radius: 25px;
  background: url('../../assets/images/backgrounds/About.svg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  width: 90%;
  padding: 10vw 5vw 12vw;
  justify-content: center;
  color: white;
  box-sizing: border-box;
}

.heroContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.heroTitleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroSubtitle {
  margin-top: 20px;
  display: flex;
  font-weight: 300;
  font-size: 61px;
  line-height: 1.1em;
  width: 600px;
  gap: 10px;
  flex-wrap: wrap;
  word-break: break-word;
}

@media (max-width: 991px) {
  .blogSection {
    padding: 40px 20px;
  }
  .blogGrid {
    grid-template-columns: 1fr;
  }
  .heroSection {
    align-items: center;
    height: 470px;
  }
  .heroContent {
    margin-top: 45px;
  }
  .heroTitleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .heroSubtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    flex-direction: row;
    line-height: 35px;
    width: 80%;
  }
  .heroSubText {
    display: flex;
    height: auto;
    line-height: normal;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
  }
}

@media (max-width: 764px) {
  .heroContent {
    margin-top: 30px;
  }
  .heroSubText {
    display: flex;
    text-align: center;
    font-size: 30px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
  }
  .heroSubtitle {
    display: flex;
    justify-content: center;
  }
  .heroSection {
    align-items: center;
    height: 277px;
  }
}
