.blogCard {
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0px 20px 80px rgba(192, 198, 211, 0.25);
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  line-height: 26px;
  cursor: pointer;
  position: relative;
  overflow: hidden; /* Prevents the image from spilling out of the container */
}

.blogCard:hover .blogImage {
  transform: scale(1.1) translateY(-8px);
}

.blogImage {
  object-fit: contain;
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
  height: auto;
  width: 100%;
  border-radius: 25px 25px 0 0;
}

.blogCard:hover .blogTitle {
  color: #ffd800; /* Change text color to yellow */
}

.content {
  padding: 32px 30px;
  text-align: left;
}

.categories {
  display: flex;
  gap: 4px;
  flex-wrap: wrap; 
}

.category {
  border-radius: 3px;
  background-color: #ffd800;
  padding: 0px 8px;
  min-height: 25px;
  white-space: nowrap;
  font-size: 12px;
  color: #2f2207;
  text-transform: uppercase;
  line-height: 2;
}

.blogTitle {
  color: #000;
  font-size: 20px;
  margin: 21px 0;
}

.blogExcerpt {
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .content {
    padding: 10px 20px;
  }
  .categories {
    margin-top: 20px;
  }
}
