.mainContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.heroSection {
  border-radius: 25px;
  /* background-color: #f1f1f1; */
  background: url('../../assets/images/backgrounds/trust.svg') no-repeat;
  display: flex;
  width: 80%;
  padding: 150px 80px 80px;
  justify-content: center;
}

.heroContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.heroTitleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.heroButtonContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroTitle {
  color: #fff;
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;
  margin: 0;
}

.heroSubtitle {
  display: block;
  font-weight: 300;
  font-size: 36px;
  line-height: 55px;
}

.heroTagline {
  color: #fff;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  margin-top: 20px;
}

.heroButton {
  border-radius: 15px;
  background-color: #ffd800;
  border: none;
  padding: 20px 44px;
  color: #2f2207;
  font-size: 16px;
  font-weight: 700;
  margin-top: 68px;
  cursor: pointer;
}

.heroIcon {
  width: 32px;
  height: 32px;
  margin-top: 45px;
}

.servicesSection {
  padding: 100px 70px;
  width: 100%;
  max-width: 1290px;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.testimonialsSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin: 50px 0;
}
.blogSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  text-align: center;
  margin-bottom: 50px;
}
.teamSection {
  width: 100%;
  max-width: 1290px;
  padding: 80px 70px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.sectionTitle {
  color: #000;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
}

.sectionDescription {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 60px;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.testimonialGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.blogGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.featuredProjectsLabel {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font: 700 16px/2 Roboto, sans-serif;
}

.description {
  color: #5a5a5a;
  text-align: center;
  margin: 0px 0 20px 0;
  width: 50%;
  font: 400 16px/26px Roboto, sans-serif;
}

.leftDirection {
  position: absolute;
  top: 0;
  right: -150px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('../../assets//images/icons/large-left.svg') no-repeat;
  background-position: right top;
}

@media (max-width: 991px) {
  .heroSection {
    padding: 100px 20px;
  }

  .heroTitle {
    font-size: 40px;
    line-height: 53px;
  }

  .heroButton {
    padding: 15px 30px;
    margin-top: 40px;
  }
  .description {
    width: 80%;
  }

  .servicesSection,
  .teamSection,
  .testimonialsSection,
  .blogSection {
    padding: 40px 20px;
  }

  .servicesGrid,
  .teamGrid,
  .testimonialGrid,
  .blogGrid {
    grid-template-columns: 1fr;
  }
}
