.mainContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.heroSection {
  border-radius: 25px;
  /* background-color: #f1f1f1; */
  background: url('../../assets/images/backgrounds/service.svg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  width: 90%;
  padding: 10vw 5vw 12vw;
  justify-content: center;
  color: white;
  box-sizing: border-box;
}

.heroContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.heroTitleContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.heroSubtitle {
  display: flex;
  font-weight: 300;
  font-size: 60px;
  margin-top: 20px;
  line-height: 1.1em;
  width: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  word-break: break-word;
}

.heroSubtext {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

@media (max-width: 991px) {
  .heroSection {
    align-items: center;
  }
  .heroContent {
    margin-top: 60px;
  }
  .heroTitleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .heroSubtitle {
    text-align: center;
    font-size: 30px;
    width: 80%;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }
  .heroSubtext {
    width: auto;
    height: auto;
    line-height: normal;
  }
}

@media (max-width: 780px) {
  .heroContent {
    margin-top: 60px;
  }
  .heroSubtitle {
    text-align: center;
    font-size: 30px;
    width: 90%;
    flex-direction: column;
    justify-content: center;
  }
}
