.mainContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.heroSection {
  margin-bottom: 50px;
  justify-content: center;
  margin-bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.heroSectionImage {
  background-size: cover;
  width: 100%;
}
